@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 102 65 169;
        --foreground: 255 255 255;
        
        --primary: 102 65 169;
        --frimary-foreground: 255 255 255;
        
        --secondary: 196 26 105;
        --secondary-foreground: 255 255 255;
        
        --muted: 59 7 100;
        --muted-foreground: 255 255 255;
        
        --accent: 88 202 155;
        --accent-foreground: 255 255 255;

        --flow-edge-color: #002afc;
    }
    .dark, [data-theme="dark"] {
        --flow-edge-color: #38bdf8; /* Sky Blue for Dark Mode */
    }
}

html {
    scroll-behavior: smooth;
    background-color: rgb(32,51,87);
    font-size:17px;
}

.react-flow__node-selectorNode {
    font-size: 12px;
    background: #eee;
    border: 1px solid #555;
    border-radius: 5px;
    text-align: center;
}